<main id="about">
        <!-- ABOUT SECTION-->
        <section>
            <h2>{{main.about_project_title}}</h2>
            <p>{{main.about_project_p}}</p>
        </section>
        <section>
            <h2>{{main.about_us_title}}</h2>
            <p>{{main.about_us_p}}</p>
        </section>
        <section>
            <h2>{{main.about_qa_title}}</h2>
            <ul>
                {% for q in main.qa %}
                    <li>
                        <h3>{{q.q}}</h3>
                        <p>{{q.a}}</p>
                    </li>
                {% endfor %}
            </ul>
        </section>

</main>