<main id="compose">
	<div class="return-phone">
		<div>
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
				<path d="M12 0c-3.31 0-6.291 1.353-8.459 3.522l-2.48-2.48-1.061 7.341 7.437-.966-2.489-2.488c1.808-1.808 4.299-2.929 7.052-2.929 5.514 0 10 4.486 10 10s-4.486 10-10 10c-3.872 0-7.229-2.216-8.89-5.443l-1.717 1.046c2.012 3.803 6.005 6.397 10.607 6.397 6.627 0 12-5.373 12-12s-5.373-12-12-12z"/>
			</svg>
			<p>{{misc.misc_phone|upper}}</p>
		</div>
	</div>
	
	<header>
		<h2>{{main.compose_loop_edition|upper}}
		</h2>
		<div id="loop-container">
			<input type="text" id="l_name" data-name='{{main.compose_name}}' name="l_name" placeholder="{{main.compose_loop_name_pl}}" value="{{main.compose_name}}" required="required">
			<label for="l_name">{{main.compose_loop_name_l|upper}}</label>
		</div>
		<div id="bpm-container">
			<input type="number" id="l_bpm" name="l_bpm" min="30" max="280" value="" required="required">
			<label for="l_bpm">{{main.compose_loop_bpm_l|upper}}</label>
		</div>
		<div>
			<select id="l_step" name="l_step" required="required">
				<option class="hidden" value="">{{main.compose_loop_step_l|upper}}</option>
				<option value="16">16</option>
				<option value="32">32</option>
				<option value="48">48</option>
				<option value="64">64</option>
			</select>
			<label for="l_step">{{main.compose_loop_step_l|upper}}</label>
		</div>
		<div id="tags-container">
	
			<input type="text" id="tags_s" name="tags_s" placeholder="{{main.compose_loop_tags_pl}}" required="required">
			<label for="tags_s">{{main.compose_loop_tags_l|upper}}</label>
			<div class="hidden" id="tags-sub" data-actual='{{main.c_tags|json_encode|raw}}'>
				{% for tag in main.tags %}
					<div id="{{tag.id_tag}}">
						<svg class="added hidden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/></svg>
						<svg class="subbed" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-12v-2h12v2z"/></svg>
						<span>{{tag.tag_sn}}</span>
					</div>
				{% endfor %}
					<div id="no-tag">
						<span>No tags match...</span>
					</div>
			</div>
		</div>
		<div id='licence-container'>
			<select name="licence" id="licence" required="required">
				<option value="">--
					{{main.compose_loop_licence_pl|upper}}
					--</option>
				{% for licence in main.licences %}
					{% if licence.id_licence == main.actual_licence %}
						<option value="{{licence.id_licence}}" title="{{licence.link}}" selected="selected">{{licence.id_licence}}</option>
					{% else %}
						<option value="{{licence.id_licence}}" title="{{licence.link}}">{{licence.id_licence}}</option>
					{% endif %}

				{% endfor %}

			</select>
			<label for="licence">{{main.compose_loop_licence_l|upper}}</label>
			<a href="https://creativecommons.org/licenses/?lang={{misc.lang}}" target="_blank" class="oa" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 18.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25c.691 0 1.25.56 1.25 1.25s-.559 1.25-1.25 1.25zm1.961-5.928c-.904.975-.947 1.514-.935 2.178h-2.005c-.007-1.475.02-2.125 1.431-3.468.573-.544 1.025-.975.962-1.821-.058-.805-.73-1.226-1.365-1.226-.709 0-1.538.527-1.538 2.013h-2.01c0-2.4 1.409-3.95 3.59-3.95 1.036 0 1.942.339 2.55.955.57.578.865 1.372.854 2.298-.016 1.383-.857 2.291-1.534 3.021z"/></svg></a>
		</div>
		<div id="export-container">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
				<title>{{main.compose_loop_save}}</title>
				<path d="M14 3h2.997v5h-2.997v-5zm9 1v20h-22v-24h17.997l4.003 4zm-17 5h12v-7h-12v7zm14 4h-16v9h16v-9z"/>
			</svg>
			{# <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
																						<title>{{main.compose_loop_delete}}</title>
																						<path d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z"/>
																					</svg> #}
		</div>
	</header>
	<section id="transport_controls" >
		<h3 class="hidden">{{main.compose_transport_title}}</h3>
		<svg class="gPlay" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
			<title>{{main.compose_transport_play}}</title>
			<path d="M3 22v-20l18 10-18 10z"/>
		</svg>
		<svg id="stop" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
			<title>{{main.compose_transport_stop}}</title>
			<path d="M2 2h20v20h-20z"/>
		</svg>
		<svg class="gVol" id="noMute" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 17h-5v-10h5v10zm2-10v10l9 5v-20l-9 5zm11.008 2.093c.742.743 1.2 1.77 1.198 2.903-.002 1.133-.462 2.158-1.205 2.9l1.219 1.223c1.057-1.053 1.712-2.511 1.715-4.121.002-1.611-.648-3.068-1.702-4.125l-1.225 1.22zm2.142-2.135c1.288 1.292 2.082 3.073 2.079 5.041s-.804 3.75-2.096 5.039l1.25 1.254c1.612-1.608 2.613-3.834 2.616-6.291.005-2.457-.986-4.681-2.595-6.293l-1.254 1.25z"/></svg>
		<svg class="hidden gVol" id="mute" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M22 1.269l-18.455 22.731-1.545-1.269 3.841-4.731h-1.827v-10h4.986v6.091l2.014-2.463v-3.628l5.365-2.981 4.076-5.019 1.545 1.269zm-10.986 15.926v.805l8.986 5v-16.873l-8.986 11.068z"/></svg>
	</section>
	<section id="tracks" data-data-song = '{{main.data|raw}}' data-settings= '{{main.settings|raw}}'>
		<h3 class="hidden">{{main.compose_tracks_title}}</h3>
		{% for t in 1..4 %}
			<div id="t{{t}}">
				<div class="controls">
					<div>
						<select id="midi_input_t{{t}}" name="midi_input_t{{t}}">
							<option value="">--
								{{main.compose_midi_device_pl|upper}}
								--</option>
						</select>
						<label for="midi_input_t{{t}}">{{main.compose_midi_device_l|upper}}</label>
						<select id="midi_channel_t{{t}}" name="midi_channel_t{{t}}">
							<option value="">--
								{{main.compose_midi_channel_pl|upper}}
								--</option>
							{% for c in 1..16 %}
								<option value="ch_t{{t}}_{{c}}">{{c}}</option>
							{% endfor %}
						</select>
						<label for="midi_channel_t{{t}}">{{main.compose_midi_channel_l|upper}}</label>

						<input type="checkbox" id="mute_t{{t}}" name="mute_t{{t}}">
						<label for="mute_t{{t}}">M</label>
						<input type="checkbox" id="solo_t{{t}}" name="solo_t{{t}}">
						<label for="solo_t{{t}}">S</label>

						<div class="dbMeter" id="db_t{{t}}"></div>

						<svg id='settings_t{{t}}' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
							<title>{{main.compose_track_settings}}</title>
							<path d="M24 13.616v-3.232c-1.651-.587-2.694-.752-3.219-2.019v-.001c-.527-1.271.1-2.134.847-3.707l-2.285-2.285c-1.561.742-2.433 1.375-3.707.847h-.001c-1.269-.526-1.435-1.576-2.019-3.219h-3.232c-.582 1.635-.749 2.692-2.019 3.219h-.001c-1.271.528-2.132-.098-3.707-.847l-2.285 2.285c.745 1.568 1.375 2.434.847 3.707-.527 1.271-1.584 1.438-3.219 2.02v3.232c1.632.58 2.692.749 3.219 2.019.53 1.282-.114 2.166-.847 3.707l2.285 2.286c1.562-.743 2.434-1.375 3.707-.847h.001c1.27.526 1.436 1.579 2.019 3.219h3.232c.582-1.636.75-2.69 2.027-3.222h.001c1.262-.524 2.12.101 3.698.851l2.285-2.286c-.744-1.563-1.375-2.433-.848-3.706.527-1.271 1.588-1.44 3.221-2.021zm-12 2.384c-2.209 0-4-1.791-4-4s1.791-4 4-4 4 1.791 4 4-1.791 4-4 4z"/>
						</svg>
						<div id="pan_t{{t}}"></div>
						<svg id="rec_t{{t}}" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
							<title>{{main.compose_track_record}}</title>
							<circle cx="12" cy="12" r="12"/>
						</svg>

						<p class="track-name">{{main.compose_track|upper}}
							{{t}}</p>
					</div>
				</div>
				{% if loop.first %}
					<div id="drum_name">
						<p class="d_click" data-sample="kick" id="d_n1" title="Kick">KICK</p>
						<p class="d_click" data-sample="snare" id="d_n2" title="Snare">SNARE</p>
						<p class="d_click" data-sample="HHC" id="d_n3" title="Hi-Hat Closed">H.H.C</p>
						<p class="d_click" data-sample="HHO" id="d_n4" title="Hi-Hat Open">H.H.O.</p>
						<p class="d_click" data-sample="tomL" id="d_n5" title="Tom Low">TOM L.</p>
						<p class="d_click" data-sample="tomM" id="d_n6" title="Tom Mid">TOM M.</p>
						<p class="d_click" data-sample="tomH" id="d_n7" title="Tom High">TOM H.</p>
						<p class="d_click" data-sample="claps" id="d_n8" title="Claps">CLAPS</p>
					</div>
				{% endif %}
				<div id="seq_t{{t}}">
					<div id="transport_t{{t}}" class="hidden transport"></div>
				
					{% for n in 1..8 %}
						<div id="t{{t}}_n{{n}}">
							{% for s in 1..16 %}
								<input type="checkbox" id="t{{t}}_n{{n}}_{{s}}" name="t{{t}}_n{{n}}_{{s}}">
								<label data-note-value="" for="t{{t}}_n{{n}}_{{s}}"></label>
							{% endfor %}
						</div>
					{% endfor %}
				</div>
				<svg class="next-page" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
					<path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.218 19l-1.782-1.75 5.25-5.25-5.25-5.25 1.782-1.75 6.968 7-6.968 7z"/>
				</svg>
				<svg class="previous-page" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
					<path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.218 19l-1.782-1.75 5.25-5.25-5.25-5.25 1.782-1.75 6.968 7-6.968 7z"/>
				</svg>
				<span class="hidden">1</span>
			</div>
		{% endfor %}
	</section>
</main>
