<!DOCTYPE html>
<html lang="{{doctype.lang}}">
	<head>

		<!-- SETTINGS TAGS-->
		<meta charset="UTF-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- DATA TAGS-->
		<meta name="author" content="Hadrien VERRIER">
		<meta name="description" content="{{doctype.description}}">
		<meta name="keywords" content="{{doctype.keywords}}">
		<title>{{doctype.page_title}}
			- ORPHÉA
		</title>

		<!-- OG TAGS -->
		<meta property="og:title" content="{{doctype.page_title}} - ORPHÉA "/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="https://www.orphea-project.com/"/>
		<meta property="og:image" content="https://www.orphea-project.com/ressources/images/footage/background_main.jpg"/>
		<meta property="og:description" content="{{doctype.description}}"/>
		<meta property="og:locale" content="{{doctype.lang}}"/>
		<meta
		property="og:site_name" content="ORPHÉA"/>

		<!-- TWITTER -->

		<meta name="twitter:card" content="website"/>
		<meta name="twitter:site" content="https://www.orphea-project.com/"/>
		<meta name="twitter:title" content="{{doctype.page_title}} - ORPHÉA "/>
		<meta name="twitter:description" content="{{doctype.description}}"/>
		<meta
		name="twitter:image" content="https://www.orphea-project.com/ressources/images/footage/background_main.jpg"/>

		<!-- RESSOURCE TAGS-->
		<link
		href="css/main.css" rel="stylesheet">

		<!-- FAVICON TAGS-->
		<link rel="apple-touch-icon" sizes="180x180" href="ressources/images/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="ressources/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="ressources/images/favicon/favicon-16x16.png">
		<link rel="icon" type="image/png" sizes="48x48" href="ressources/images/favicon/favicon-48x48.png">
		<link rel="manifest" href="ressources/images/favicon/site.webmanifest">
		<link rel="mask-icon" href="ressources/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="ressources/images/favicon/favicon.ico">
		<meta name="msapplication-TileColor" content="#505050">
		<meta name="msapplication-config" content="ressources/images/favicon/browserconfig.xml">
		<meta
		name="theme-color" content="#414141">

		<!--SCRIPTS-->
			<!-- JQUERY-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
			<!-- TONE.JS-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.15/Tone.js" integrity="sha512-m484N6z1C3HX3bXWUGHXFoaHWgDZxhMebKemEYfEsyr4gUadYZkFp9lW/ZiP+QptN8NM16l3wRSNYDX24lqokg==" crossorigin="anonymous"></script>
			<!-- WEBMIDI.JS-->
		<script src="https://cdn.jsdelivr.net/npm/webmidi"></script>

			<!-- CUSTOM SCRIPT -->
		<script src="Dist/built.js"></script>
		
		<!-- Global site tag (gtag.js) - Google Analytics -->
		{# <script async src="https://www.googletagmanager.com/gtag/js?id=G-QKNT5YM78B"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-QKNT5YM78B');
		</script> #}
	</head>

