<footer>
    <section>
        <h4 data-translate="g_link_title" class="hidden">{{footer.g_link_title|upper}}</h4>
        <ul>
            <li>
                <a data-translate="g_terms_page" href="terms.php">{{footer.g_terms_page|upper}}</a>
            </li>
            <li>
                <a data-translate="g_cookie_page" href="#" class="nr">{{footer.g_cookie_page|upper}}</a>
                </li>
            <li>
                <a data-translate="g_sitemap_page" href="sitemap.php">{{footer.g_sitemap_page|upper}}</a>
            </li>
        </ul>
    </section>
    <a href="index.php" title="{{misc.misc_home_page_title}}">
        <img src="ressources/images/logo_pattern/logo.png" alt="{{misc.misc_logo_alt}}" width="50">
    </a>
    <section>
        <h4 data-translate="g_other_page" class="hidden">{{footer.g_other_page|upper}}</h4>
        <ul>
            <li>
                <a data-translate="g_contact_page" href="contact.php">{{footer.g_contact_page|upper}}</a>
            </li>
            {# <li>
                <a data-translate="g_report_page" href="bugtracker.php">{{footer.g_report_page|upper}}</a>
            </li> #}
            <!-- CHOOSE LANGUAGE-->
            <li>
            <form method="GET" action="{{nav.current}}" id='lang-form'>
                <select name="lang" id="lang">
                    <option id="no_language">LANGUAGE &#127988; &#917607; &#917602; &#917605; &#917614; &#917607; &#917631;</option>
                    {% for language in languages %}
                        <option value="{{language.sn}}">{{language.fn|upper}} &#127988; &#917607; &#917602; &#917605; &#917614; &#917607; &#917631;
                        </option>
                    {% endfor %}
                </select>
                </form>
            </li>
        </ul>
    </section>
</footer>