<header>
        <!-- LOGO-->
        <div id="logo">
            <a href="index.php" title="{{header.home_page_title}}">
                <img src="ressources/images/logo_pattern/logo.png" alt="{{header.logo_alt}}" width="100">
                <h1>ORPH&Eacute;A</h1>
            </a>
        </div>
        <!-- MENU-->
        <nav>
            <ul>
                <li><p data-href="index" title="{{header.home_page_title}}"><strong>{{header.home_page|upper}}</strong></p></li>
                <li><p data-href="about" title="{{header.about_page_title}}">{{header.about_page|upper}}</p></li>
                <li><p data-href="login" title="{{header.login_page_title}}">{{header.login_page|upper}}</p></li>
            </ul>
        </nav>
        <!--BACKGROUND PICTURE-->
        <img src="ressources/images/footage/background_main.jpg" width="500" alt="{{header.background_alt}}">

    </header>