
<main id="index">
        <!-- VIDEO-->
        <section id="video">
            <h2 class="hidden">{{main.index_video_title}}</h2>
            <div id="video-container">
                <video width="160" height="90" controls>
                    <source src="#" type="video/mp4">
                    {{main.index_video_fail}}
                </video>
            </div>
        </section>

        <section>
            <!-- CARDS-->
            <h2 class="hidden">{{main.index_discover_title}}</h2>

            <article>
                <h3>{{main.index_listen_title|upper}}</h3>
                <p>{{main.index_listen_p}}</p>
                <a href="search.html" class="button">{{main.index_listen_button|upper}}</a>
            </article>
            <article>
                <h3>{{main.index_compose_title|upper}}</h3>
                <p>{{main.index_compose_p}}</p>
                <a href="compose.html" class="button">{{main.index_compose_button|upper}}</a>
            </article>
            <article class="disabled" data-disabled="{{soon|upper}}">
                <h3>{{main.index_learn_title|upper}}</h3>
                <p>{{main.index_learn_p}}</p>
                <a href="learn.html" class="button">{{main.index_learn_button|upper}}</a>
            </article>
        </section>
    </main>