<nav>
    <ul>
    {% if nav.current == 'index.php' %}
        <li><a href="index.php" title="{{nav.home_page_title}}"><strong>{{nav.home_page|upper}}</strong></a></li>
    {% else %}
        <li><a href="index.php" title="{{nav.home_page_title}}">{{nav.home_page|upper}}</a></li>
    {% endif %}

    {% if nav.current == 'about.php' %}
            <li><a href="about.php" title="{{nav.about_page_title}}"><strong>{{nav.about_page|upper}}</strong></a></li>
    {% else %}
            <li><a href="about.php" title="{{nav.about_page_title}}">{{nav.about_page|upper}}</a></li>
    {% endif %}

    {% if misc.loggin %}
        {% if nav.current == 'dashboard.php' %}
                <li><a href="dashboard.php" title="{{nav.dashboard_page_title}}"><strong>{{nav.dashboard_page|upper}}</strong></a></li>
        {% else %}
                <li><a href="dashboard.php" title="{{nav.dashboard_page_title}}">{{nav.dashboard_page|upper}}</a></li>
        {% endif %}
        
        <li><a href="logout.php" class='nr' title="{{nav.logout_page_title}}">{{nav.logout_page|upper}}</a></li>
    {% else %}
        {% if nav.current == 'login.php' %}
                <li><a href="login.php" title="{{nav.login_page_title}}"><strong>{{nav.login_page|upper}}</strong></a></li>
        {% else %}
                <li><a href="login.php" title="{{nav.login_page_title}}">{{nav.login_page|upper}}</a></li>
        {% endif %}
        
    {% endif %}
    </ul>
</nav>