{% if type == 'cookie' %}
<section class="popup">
    <h4>{{cookie_title|upper}}</h4>

    <div id="cookie-form">
        <p data-mode="true">{{cookie_true}}</p>
    
        <p data-mode="false">{{cookie_false}}</p>
    </div>
    <a href="cookies-rules">{{cookie_a}}</a>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <title>{{cookie_cross}}</title>
        <path
            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z" />
    </svg>
</section>
{% endif %}

{% if type == 'log' %}
<section class="popup">
    <h4>{{log_title|upper}}</h4>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <title>{{log_cross}}</title>
        <path
            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z" />
    </svg>
</section>
{% endif %}

{% if type == 'logout' %}
<section class="popup">
    <h4>{{logout_title|upper}}</h4>

    <div id="cookie-form">
        <p data-mode="true">{{logout_true}}</p>
    
        <p data-mode="false">{{logout_false}}</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <title>{{logout_cross}}</title>
        <path
            d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z" />
    </svg>
</section>
{% endif %}